# Ignore Python virtual environment
env/

# Ignore environment variable files
.env
env/.env

# Ignore Streamlit cache and logs
.streamlit/
*.log

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore VSCode settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Packaging
*.egg-info/
dist/
build/
*.spec
.streamlit/secrets.toml
